* {
    padding: 0;
    margin: 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background: #000;
    height: 100vh; 
    width: 100vw;
    gap: 2px; 
}

.image-item {
    position: relative;
    overflow: hidden; 
}

.image-item img {
    display: block;
    width: 100%;
    height: auto;
    transition: filter 0.3s, transform 0.3s; 
}

.image-item:hover img {
    filter: blur(5px) grayscale(100%) brightness(50%);
    transform: scale(1.05); 
}

.des {
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1.5rem;
    z-index: 1;
}

.read-more {
    display: none;
    line-height: 24px;
    color: cyan;
    cursor: pointer; 
}

.image-item:hover .read-more {
    display: block;
    
}

.type {
    font-family: popins;
    line-height: 38px;
    font-weight: 400;
    font-family: poppins;

}
.country{
    line-height: 16.02px;
    font-weight: 400;
    font-size: 12px;
    font-family: poppins;
}


@media (max-width: 740px) {
    .des {
        display: none;
    }

    .image-container {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        gap: 2px;
        background: #000;
    }

    .image-item img {
        height: 100vh;
        width: 100vw;
        transition: filter 0.3s, transform 0.3s;
    }

    .image-item:hover img {
        filter: blur(5px) grayscale(100%) brightness(50%);
        transform: scale(1.05);
    }
}
